In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
matches = pd.read_csv("/content/drive/MyDrive/EPL_SPORTS_ANALYTICS/matches.csv", index_col=0)

In [ ]:
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,Match Report,NaN,10.0,2.0,14.6,1.0,0.0,0.0,2022,Arsenal
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,Match Report,NaN,19.0,7.0,13.0,0.0,0.0,0.0,2022,Arsenal
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,Match Report,NaN,14.0,6.0,14.8,0.0,0.0,0.0,2022,Arsenal
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,Match Report,NaN,22.0,8.0,15.5,1.0,0.0,0.0,2022,Arsenal
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,Match Report,NaN,22.0,8.0,16.3,1.0,0.0,0.0,2022,Arsenal

In [ ]:
matches.shape

(1286, 27)

In [ ]:
# 2 seasons * 20 squads * 38 matches

2 * 20 * 38

1520

In [ ]:
# Missing Liverpool 2021-2022
matches["team"].value_counts()

Arsenal                     65
Manchester City             65
Southampton                 65
Everton                     65
Wolverhampton Wanderers     65
Crystal Palace              65
Tottenham Hotspur           65
Leicester City              64
Manchester United           64
Chelsea                     64
Aston Villa                 64
Liverpool                   64
Leeds United                64
West Ham United             64
Brentford                   64
Brighton and Hove Albion    63
Newcastle United            63
Burnley                     38
Watford                     38
Norwich City                38
Fulham                      27
Nottingham Forest           26
Bournemouth                 26
Name: team, dtype: int64

In [ ]:
matches[matches["team"] == "Liverpool"].sort_values("date")

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2021-08-14,17:30,Premier League,Matchweek 1,Sat,Away,W,3.0,0.0,Norwich City,...,Match Report,NaN,19.0,6.0,17.3,1.0,0.0,0.0,2021,Liverpool
1,2021-08-21,12:30,Premier League,Matchweek 2,Sat,Home,W,2.0,0.0,Burnley,...,Match Report,NaN,27.0,8.0,16.1,0.0,0.0,0.0,2021,Liverpool
2,2021-08-28,17:30,Premier League,Matchweek 3,Sat,Home,D,1.0,1.0,Chelsea,...,Match Report,NaN,23.0,6.0,16.2,0.0,1.0,1.0,2021,Liverpool
3,2021-09-12,16:30,Premier League,Matchweek 4,Sun,Away,W,3.0,0.0,Leeds United,...,Match Report,NaN,30.0,8.0,16.1,1.0,0.0,0.0,2021,Liverpool
5,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,W,3.0,0.0,Crystal Palace,...,Match Report,NaN,25.0,10.0,16.4,1.0,0.0,0.0,2021,Liverpool
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,2023-02-18,17:30,Premier League,Matchweek 24,Sat,Away,W,2.0,0.0,Newcastle Utd,...,Match Report,NaN,13.0,7.0,16.4,1.0,0.0,0.0,2022,Liverpool
35,2023-02-25,19:45,Premier League,Matchweek 25,Sat,Away,D,0.0,0.0,Crystal Palace,...,Match Report,NaN,12.0,4.0,16.0,1.0,0.0,0.0,2022,Liverpool
36,2023-03-01,20:00,Premier League,Matchweek 7,Wed,Home,W,2.0,0.0,Wolves,...,Match Report,NaN,15.0,6.0,13.6,0.0,0.0,0.0,2022,Liverpool
37,2023-03-05,16:30,Premier League,Matchweek 26,Sun,Home,W,7.0,0.0,Manchester Utd,...,Match Report,NaN,18.0,8.0,12.7,0.0,0.0,0.0,2022,Liverpool
38,2023-03-11,12:30,Premier League,Matchweek 27,Sat,Away,L,0.0,1.0,Bournemouth,...,Match Report,NaN,14.0,5.0,18.5,0.0,0.0,1.0,2022,Liverpool

In [ ]:
matches["round"].value_counts()

Matchweek 1     40
Matchweek 16    40
Matchweek 27    40
Matchweek 26    40
Matchweek 24    40
Matchweek 12    40
Matchweek 23    40
Matchweek 2     40
Matchweek 21    40
Matchweek 20    40
Matchweek 19    40
Matchweek 18    40
Matchweek 17    40
Matchweek 22    40
Matchweek 15    40
Matchweek 6     40
Matchweek 14    40
Matchweek 4     40
Matchweek 5     40
Matchweek 3     40
Matchweek 10    40
Matchweek 11    40
Matchweek 13    40
Matchweek 9     40
Matchweek 8     38
Matchweek 25    36
Matchweek 7     32
Matchweek 34    20
Matchweek 37    20
Matchweek 33    20
Matchweek 36    20
Matchweek 35    20
Matchweek 31    20
Matchweek 30    20
Matchweek 32    20
Matchweek 29    20
Matchweek 28    20
Matchweek 38    20
Name: round, dtype: int64

In [ ]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk              float64
pkatt           float64
season            int64
team             object
dtype: object

In [ ]:
del matches["comp"]

In [ ]:
del matches["notes"]

In [ ]:
matches["date"] = pd.to_datetime(matches["date"])

In [ ]:
matches["target"] = (matches["result"] == "W").astype("int")

In [ ]:
matches

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,match report,sh,sot,dist,fk,pk,pkatt,season,team,target
0,2022-08-05,20:00,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,1.0,...,Match Report,10.0,2.0,14.6,1.0,0.0,0.0,2022,Arsenal,1
1,2022-08-13,15:00,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,2.7,...,Match Report,19.0,7.0,13.0,0.0,0.0,0.0,2022,Arsenal,1
2,2022-08-20,17:30,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,1.3,...,Match Report,14.0,6.0,14.8,0.0,0.0,0.0,2022,Arsenal,1
3,2022-08-27,17:30,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,2.6,...,Match Report,22.0,8.0,15.5,1.0,0.0,0.0,2022,Arsenal,1
4,2022-08-31,19:30,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,2.4,...,Match Report,22.0,8.0,16.3,1.0,0.0,0.0,2022,Arsenal,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2022-04-30,15:00,Matchweek 35,Sat,Away,L,0.0,2.0,Aston Villa,0.5,...,Match Report,9.0,3.0,21.6,0.0,0.0,0.0,2021,Norwich City,0
39,2022-05-08,14:00,Matchweek 36,Sun,Home,L,0.0,4.0,West Ham,0.8,...,Match Report,8.0,2.0,22.2,1.0,0.0,0.0,2021,Norwich City,0
40,2022-05-11,19:45,Matchweek 21,Wed,Away,L,0.0,3.0,Leicester City,1.1,...,Match Report,9.0,5.0,17.0,0.0,0.0,0.0,2021,Norwich City,0
41,2022-05-15,14:00,Matchweek 37,Sun,Away,D,1.0,1.0,Wolves,1.1,...,Match Report,11.0,2.0,14.4,0.0,0.0,0.0,2021,Norwich City,0
42,2022-05-22,16:00,Matchweek 38,Sun,Home,L,0.0,5.0,Tottenham,0.5,...,Match Report,9.0,0.0,18.6,0.0,0.0,0.0,2021,Norwich City,0

In [ ]:
matches["venue_code"] = matches["venue"].astype("category").cat.codes

In [ ]:
matches["opp_code"] = matches["opponent"].astype("category").cat.codes

In [ ]:
matches["hour"] = matches["time"].str.replace(":.+", "", regex=True).astype("int")

In [ ]:
matches["day_code"] = matches["date"].dt.dayofweek

In [ ]:
matches

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,fk,pk,pkatt,season,team,target,venue_code,opp_code,hour,day_code
0,2022-08-05,20:00,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,1.0,...,1.0,0.0,0.0,2022,Arsenal,1,0,7,20,4
1,2022-08-13,15:00,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,2.7,...,0.0,0.0,0.0,2022,Arsenal,1,1,11,15,5
2,2022-08-20,17:30,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,1.3,...,0.0,0.0,0.0,2022,Arsenal,1,0,2,17,5
3,2022-08-27,17:30,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,2.6,...,1.0,0.0,0.0,2022,Arsenal,1,1,9,17,5
4,2022-08-31,19:30,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,2.4,...,1.0,0.0,0.0,2022,Arsenal,1,1,1,19,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2022-04-30,15:00,Matchweek 35,Sat,Away,L,0.0,2.0,Aston Villa,0.5,...,0.0,0.0,0.0,2021,Norwich City,0,0,1,15,5
39,2022-05-08,14:00,Matchweek 36,Sun,Home,L,0.0,4.0,West Ham,0.8,...,1.0,0.0,0.0,2021,Norwich City,0,1,21,14,6
40,2022-05-11,19:45,Matchweek 21,Wed,Away,L,0.0,3.0,Leicester City,1.1,...,0.0,0.0,0.0,2021,Norwich City,0,0,11,19,2
41,2022-05-15,14:00,Matchweek 37,Sun,Away,D,1.0,1.0,Wolves,1.1,...,0.0,0.0,0.0,2021,Norwich City,0,0,22,14,6
42,2022-05-22,16:00,Matchweek 38,Sun,Home,L,0.0,5.0,Tottenham,0.5,...,0.0,0.0,0.0,2021,Norwich City,0,1,19,16,6

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [ ]:
train = matches[matches["date"] < '2022-01-01']

In [ ]:
test = matches[matches["date"] > '2022-01-01']

In [ ]:
predictors = ["venue_code", "opp_code", "hour", "day_code"]

In [ ]:
rf.fit(train[predictors], train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [ ]:
preds = rf.predict(test[predictors])

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
error = accuracy_score(test["target"], preds)

In [ ]:
error

0.5962800875273523

In [ ]:
combined = pd.DataFrame(dict(actual=test["target"], predicted=preds))

In [ ]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted    0    1
actual
0          434  124
1          245  111

In [ ]:
from sklearn.metrics import precision_score

precision_score(test["target"], preds)

0.4723404255319149

In [ ]:
grouped_matches = matches.groupby("team")

In [ ]:
group = grouped_matches.get_group("Manchester City").sort_values("date")

In [ ]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [ ]:
cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

rolling_averages(group, cols, new_cols)

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
4,2021-09-11,15:00,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,2.8,...,15,5,3.333333,0.333333,19.666667,6.000000,16.866667,0.666667,0.000000,0.000000
6,2021-09-18,15:00,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,1.0,...,15,5,3.666667,0.000000,22.000000,7.333333,15.866667,0.333333,0.000000,0.000000
8,2021-09-25,12:30,Matchweek 6,Sat,Away,W,1.0,0.0,Chelsea,1.7,...,12,5,2.000000,0.000000,22.000000,6.333333,15.166667,0.333333,0.000000,0.000000
10,2021-10-03,16:30,Matchweek 7,Sun,Away,D,2.0,2.0,Liverpool,1.2,...,16,6,0.666667,0.000000,18.666667,4.000000,15.933333,0.333333,0.000000,0.000000
11,2021-10-16,15:00,Matchweek 8,Sat,Home,W,2.0,0.0,Burnley,2.1,...,15,5,1.000000,0.666667,14.333333,2.333333,16.833333,0.666667,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,2023-02-15,19:30,Matchweek 12,Wed,Away,W,3.0,1.0,Arsenal,1.8,...,19,2,2.000000,0.666667,14.333333,5.666667,15.966667,0.666667,0.666667,0.666667
35,2023-02-18,15:00,Matchweek 24,Sat,Away,D,1.0,1.0,Nott'ham Forest,2.4,...,15,5,2.000000,1.000000,13.333333,5.666667,15.066667,0.666667,0.333333,0.333333
37,2023-02-25,17:30,Matchweek 25,Sat,Away,W,4.0,1.0,Bournemouth,2.4,...,17,5,2.333333,1.000000,16.000000,6.000000,15.166667,1.000000,0.333333,0.333333
39,2023-03-04,12:30,Matchweek 26,Sat,Home,W,2.0,0.0,Newcastle Utd,1.3,...,12,5,2.666667,1.000000,17.333333,5.333333,15.133333,1.000000,0.000000,0.000000
40,2023-03-11,17:30,Matchweek 27,Sat,Away,W,1.0,0.0,Crystal Palace,2.1,...,17,5,2.333333,0.666667,18.000000,4.666667,16.366667,1.666667,0.000000,0.000000

In [ ]:
matches_rolling = matches.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))

In [ ]:
matches_rolling

                                 date   time         round  day venue result  \
team
Arsenal                 4  2021-09-11  15:00   Matchweek 4  Sat  Home      W
                        5  2021-09-18  15:00   Matchweek 5  Sat  Away      W
                        7  2021-09-26  16:30   Matchweek 6  Sun  Home      W
                        8  2021-10-02  17:30   Matchweek 7  Sat  Away      D
                        9  2021-10-18  20:00   Matchweek 8  Mon  Home      D
...                               ...    ...           ...  ...   ...    ...
Wolverhampton Wanderers 28 2023-02-18  15:00  Matchweek 24  Sat  Home      L
                        29 2023-02-24  20:00  Matchweek 25  Fri  Away      D
                        30 2023-03-01  20:00   Matchweek 7  Wed  Away      L
                        31 2023-03-04  15:00  Matchweek 26  Sat  Home      W
                        32 2023-03-12  16:30  Matchweek 27  Sun  Away      L

                             gf   ga        opponent   xg  ...  hour  \
team                                                       ...
Arsenal                 4   1.0  0.0    Norwich City  2.7  ...    15
                        5   1.0  0.0         Burnley  1.1  ...    15
                        7   3.0  1.0       Tottenham  1.1  ...    16
                        8   0.0  0.0        Brighton  0.4  ...    17
                        9   2.0  2.0  Crystal Palace  1.7  ...    20
...                         ...  ...             ...  ...  ...   ...
Wolverhampton Wanderers 28  0.0  1.0     Bournemouth  1.3  ...    15
                        29  1.0  1.0          Fulham  0.8  ...    20
                        30  0.0  2.0       Liverpool  0.8  ...    20
                        31  1.0  0.0       Tottenham  0.5  ...    15
                        32  1.0  2.0   Newcastle Utd  1.1  ...    16

                            day_code  gf_rolling ga_rolling sh_rolling  \
team
Arsenal                 4          5    0.000000   3.000000   9.666667
                        5          5    0.333333   2.333333  12.333333
                        7          6    0.666667   1.666667  14.666667
                        8          5    1.666667   0.333333  18.333333
                        9          0    1.333333   0.333333  11.000000
...                              ...         ...        ...        ...
Wolverhampton Wanderers 28         5    1.666667   1.333333  11.000000
                        29         4    1.666667   0.666667  12.666667
                        30         2    1.000000   1.000000  11.333333
                        31         5    0.333333   1.333333   9.000000
                        32         6    0.666667   1.000000   6.666667

                           sot_rolling dist_rolling  fk_rolling  pk_rolling  \
team
Arsenal                 4     2.333333    14.833333    0.333333         0.0
                        5     3.000000    14.133333    0.333333         0.0
                        7     3.000000    14.800000    0.666667         0.0
                        8     5.333333    18.433333    0.666667         0.0
                        9     4.000000    19.833333    0.666667         0.0
...                                ...          ...         ...         ...
Wolverhampton Wanderers 28    2.333333    17.800000    0.000000         0.0
                        29    3.333333    16.766667    0.000000         0.0
                        30    2.333333    16.700000    0.000000         0.0
                        31    2.333333    14.133333    0.000000         0.0
                        32    2.666667    16.700000    0.000000         0.0

                            pkatt_rolling
team
Arsenal                 4             0.0
                        5             0.0
                        7             0.0
                        8             0.0
                        9             0.0
...                                   ...
Wolverhampton Wanderers 28            0.0
                        29            0.0
                        30            0.0
                        31            0.0
                        32            0.0

[1217 rows x 38 columns]

In [ ]:
matches_rolling = matches_rolling.droplevel('team')

In [ ]:
matches_rolling

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
4,2021-09-11,15:00,Matchweek 4,Sat,Home,W,1.0,0.0,Norwich City,2.7,...,15,5,0.000000,3.000000,9.666667,2.333333,14.833333,0.333333,0.0,0.0
5,2021-09-18,15:00,Matchweek 5,Sat,Away,W,1.0,0.0,Burnley,1.1,...,15,5,0.333333,2.333333,12.333333,3.000000,14.133333,0.333333,0.0,0.0
7,2021-09-26,16:30,Matchweek 6,Sun,Home,W,3.0,1.0,Tottenham,1.1,...,16,6,0.666667,1.666667,14.666667,3.000000,14.800000,0.666667,0.0,0.0
8,2021-10-02,17:30,Matchweek 7,Sat,Away,D,0.0,0.0,Brighton,0.4,...,17,5,1.666667,0.333333,18.333333,5.333333,18.433333,0.666667,0.0,0.0
9,2021-10-18,20:00,Matchweek 8,Mon,Home,D,2.0,2.0,Crystal Palace,1.7,...,20,0,1.333333,0.333333,11.000000,4.000000,19.833333,0.666667,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,2023-02-18,15:00,Matchweek 24,Sat,Home,L,0.0,1.0,Bournemouth,1.3,...,15,5,1.666667,1.333333,11.000000,2.333333,17.800000,0.000000,0.0,0.0
29,2023-02-24,20:00,Matchweek 25,Fri,Away,D,1.0,1.0,Fulham,0.8,...,20,4,1.666667,0.666667,12.666667,3.333333,16.766667,0.000000,0.0,0.0
30,2023-03-01,20:00,Matchweek 7,Wed,Away,L,0.0,2.0,Liverpool,0.8,...,20,2,1.000000,1.000000,11.333333,2.333333,16.700000,0.000000,0.0,0.0
31,2023-03-04,15:00,Matchweek 26,Sat,Home,W,1.0,0.0,Tottenham,0.5,...,15,5,0.333333,1.333333,9.000000,2.333333,14.133333,0.000000,0.0,0.0
32,2023-03-12,16:30,Matchweek 27,Sun,Away,L,1.0,2.0,Newcastle Utd,1.1,...,16,6,0.666667,1.000000,6.666667,2.666667,16.700000,0.000000,0.0,0.0

In [ ]:
matches_rolling.index = range(matches_rolling.shape[0])

In [ ]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2022-01-01']
    test = data[data["date"] > '2022-01-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    error = precision_score(test["target"], preds)
    return combined, error

In [ ]:
combined, error = make_predictions(matches_rolling, predictors + new_cols)

In [ ]:
error

0.4948453608247423

In [ ]:
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index=True, right_index=True)

In [ ]:
combined.head(10)

    actual  predicted       date     team        opponent result
17       0          0 2022-01-23  Arsenal         Burnley      D
18       1          0 2022-02-10  Arsenal          Wolves      W
19       1          0 2022-02-19  Arsenal       Brentford      W
20       1          1 2022-02-24  Arsenal          Wolves      W
21       1          1 2022-03-06  Arsenal         Watford      W
22       1          1 2022-03-13  Arsenal  Leicester City      W
23       0          1 2022-03-16  Arsenal       Liverpool      L
24       1          0 2022-03-19  Arsenal     Aston Villa      W
25       0          0 2022-04-04  Arsenal  Crystal Palace      L
26       0          0 2022-04-09  Arsenal        Brighton      L

In [ ]:
class MissingDict(dict):
    __missing__ = lambda self, key: key

map_values = {"Brighton and Hove Albion": "Brighton", "Manchester United": "Manchester Utd", "Newcastle United": "Newcastle Utd", "Tottenham Hotspur": "Tottenham", "West Ham United": "West Ham", "Wolverhampton Wanderers": "Wolves"} 
mapping = MissingDict(**map_values)

In [ ]:
combined["new_team"] = combined["team"].map(mapping)

In [ ]:
merged = combined.merge(combined, left_on=["date", "new_team"], right_on=["date", "opponent"])

In [ ]:
merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
0,0,0,2022-01-23,Arsenal,Burnley,D,Arsenal,0,0,Burnley,Arsenal,D,Burnley
1,1,0,2022-02-10,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
2,1,0,2022-02-19,Arsenal,Brentford,W,Arsenal,0,0,Brentford,Arsenal,L,Brentford
3,1,1,2022-02-24,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
4,1,1,2022-03-06,Arsenal,Watford,W,Arsenal,0,0,Watford,Arsenal,L,Watford
...,...,...,...,...,...,...,...,...,...,...,...,...,...
868,0,0,2023-02-18,Wolverhampton Wanderers,Bournemouth,L,Wolves,1,0,Bournemouth,Wolves,W,Bournemouth
869,0,0,2023-02-24,Wolverhampton Wanderers,Fulham,D,Wolves,0,0,Fulham,Wolves,D,Fulham
870,0,0,2023-03-01,Wolverhampton Wanderers,Liverpool,L,Wolves,1,0,Liverpool,Wolves,W,Liverpool
871,1,0,2023-03-04,Wolverhampton Wanderers,Tottenham,W,Wolves,0,0,Tottenham Hotspur,Wolves,L,Tottenham
872,0,0,2023-03-12,Wolverhampton Wanderers,Newcastle Utd,L,Wolves,1,0,Newcastle United,Wolves,W,Newcastle Utd

In [ ]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] ==0)]["actual_x"].value_counts()

1    81
0    75
Name: actual_x, dtype: int64

In [ ]:
27/(27+13)

0.675